<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:\\Java\\logg\\logfile-${bySecond}.log</file>
        <append>true</append>
 
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>Logfile: %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
      <appender name="ERROR-FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:\\Java\\logg\\ERROR.log</file>
        <append>true</append>
 
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>Logfile: %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="nu.te4.basicauth" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>
    
    <root level="ERROR">
        <appender-ref ref="ERROR-FILE" />
    </root>
</configuration>
